.container{
    margin-bottom: 100px;
}
.img-size{
    width: 150px;
    height: 70px;
}
.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.div-text-items{
    margin-left: 15px;
}
.header-text-color{
    color: #FF9C35
}
.card{
    text-align: center;
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 15px;
}
.div-space{
    margin-left: 40px;
}
.div-space2{
    margin-right: 50px;
}
.img-width img{
    width: 300px;
    height: 250px;
}
.header-bottom{
    margin-bottom: 30px;
}